<form method="GET" action="{% url 'cars_list' %}">
    <input type="text" name="search" placeholder="Buscar carro...">
    <button type="submit">Buscar</button>
</form>

  <div class="car-grid">
    {% if vagas %}
      {% for vaga in vagas %}
        <div class="car-card">
        {% if vaga.photo %}
            <img src="{{ vaga.photo.url }}" alt="{{ vaga.titulo }} - {{ vaga.descricao }}">

        {% else %}
          <p class="no-photo">Foto não disponivel</p>
        {% endif %}
          <h2>{{ car.titulo }} {{ car.descricao }}</h2>
          <p>{{ car.local }}
        </div>
        </a>
      {% endfor %}
    {% else %}
      <p class="no-results">Nenhuma vaga cadastrada.</p>
    {% endif %}
  </div>