# Ignorar o arquivo settings.py da pasta friendly_host

# Outras entradas do .gitignore abaixo...

# Arquivos de configuração específicos do IDE
.idea/
.vscode/

# Outros arquivos e pastas a serem ignorados...
