<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cadastro.css">
  <title>Cadastro de Usuário</title>
</head>

<body>
  <div class="container">
    <form id="cadastro-form">
      <div class="form-group">
        <label for="user-type">Tipo de Usuário:</label>
        <select id="user-type" class="form-control" name="user-type">
          <option value="estudante">Estudante</option>
          <option value="anfitriao">Anfitrião</option>
        </select>
      </div>

      <div id="dynamic-fields-container"></div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>

  <script src="cadastro.js"></script>
</body>

</html>
