{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Cadastro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cadastro/css/cadastro.css' %}">
</head>
<body>
    <div class="main-login">
                <div class="left-login">
                    <h1>Faça Seu Cadastro <br> e comece sua jornada conosco</h1>
                    <img src="{% static 'cadastro/img/cadastro.svg' %}" class="left-login-image" alt="Login">
                </div>
    <div class="right-login">
                <div class="card-login">
                    <div class="container">
                    <div class="logo">
                        <img src="{% static 'cadastro/img/logo.png' %}" alt="logo">
                    </div>
                        <form action="{% url 'cadastro' %}" method="POST" class="textfield">{% csrf_token %}
                        <div class="form-group">
                            <label for="usuario">Usuário</label>
                            <input type="text" name="usuario" placeholder="Usuário">
                        <div class='textfield'>
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="Email">
                        <div class='textfield'>
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" placeholder="Senha">
                        <div class='textfield'>
                            <label for="confirma_senha">Confirmar senha</label>
                            <input type="password" name="confirma_senha" placeholder="Confirmar senha"> 
                        <div class='textfield'>
                            <label for="user-type">Tipo de Usuário:</label>
                            <select id="user-type" name="user-type" class="form-control">
                            <option value="estudante">Estudante</option>
                            <option value="anfitriao">Anfitrião</option>
                            </select>
                            </div>
                        </div>
        
        <div class="form-group estudante-fields">
            <label for="nome-pai">Nome do Pai:</label>
            <input type="text" id="nome-pai" name="nome-pai" class="form-control">
            
            <label for="nome-mae">Nome da Mãe:</label>
            <input type="text" id="nome-mae" name="nome-mae" class="form-control">
            
            <!-- Outros campos específicos do estudante -->
        </div>
        
        <div class="form-group anfitriao-fields">
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" class="form-control">
            
            <!-- Outros campos específicos do anfitrião -->
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'cadastro/js/cadastro.js' %}"></script>
    </body>
    </html>
